<div class="container-fluid bg-primary text-white position-absolute bottom-0 end-0">
<div class="row">
<section class="col">
Colonne 1
</section>
<section class="col">
Colonne 2
</section>
<section class="col">
Colonne 3
</section>
</div>
</div>