{% extends 'base.html.twig' %}

{% block title %}Ajouter un Paiement{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connecté #}

{# formulaire creation d'un paiement #}
<div class="container border rounded p-3 my-4">
    <div class="title text-center">
        <h2>Ajouter un paiement</h2>
        <hr>
    </div>
    <form method="post" action="{{ path('app_paiements_create') }}">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary my-3">Créer</button>
    </form>
</div>

{% else %}
{# Contenu pour les utilisateurs connecté #}
    <div class="container" style="height: 100vh">
                        <div class="row justify-content-center align-middle">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h2 class="display-1 text-danger">Accés refusé</h2>
                                    <p>Vous  n'êtes pas autorisé à accéder à cette ressource</p>
                                    <p>Merci de bien vouloir vous connecter afin d'accéder à cette page</p>
                                    <a href="{{path('app_main')}}">
                                        Retour au formulaire de connexion
                                    </a>
                                </div>
                            </div>
                        </div>
    </div>
{% endif %}
{% endblock %}



