{% extends 'base.html.twig' %}

{% block title %}Créer un état des lieux{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connectés #}

    <div class="container my-5 border rounded p-3">
        <h1>Créer un état des lieux</h1>
        <form method="post" action="{{ path('app_etatdeslieux_create') }}">
            {{ form_widget(form) }}
            <button class="btn btn-primary my-2" type="submit">Créer</button>
        </form>
    </div>

{% else %}
    <div class="container my-5 text-center border rounded p-5 bg-danger">
    <h5>Merci de bien vouloir vous connecté afin d'accéder a cette page</h5>
    </div>
{% endif %}
{% endblock %}
