{% extends 'base.html.twig' %}

{% block title %}Modifier un état des lieux{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connectés #}

    <div class="container my-5 border rounded p-5">
        <h1>Modifier un état des lieux</h1>
        <form method="post" action="{{ path('app_etatdeslieux_edit', {'id': etatdeslieux.id}) }}">
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>
        </form>
    </div>

{% else %}
    <div class="container" style="height: 100vh">
                        <div class="row justify-content-center align-middle">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h2 class="display-1 text-danger">Accés refusé</h2>
                                    <p>Vous  n'êtes pas authorisé à accéder à cette ressource</p>
                                    <p>Merci de bien vouloir vous connecté afin d'accéder à cette page</p>
                                    <a href="{{path('app_main')}}">
                                        Retour au formulaire de connexion
                                    </a>
                                </div>
                            </div>
                        </div>
    </div>
{% endif %}


{% endblock %}
