{# templates/logements/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier un logement{% endblock %}

{% block body %}
{% if app.user %}
{# Contenu pour les utilisateurs connectés #}

{#  Formulaire de modification d'un logement  #}
<div class="container my-5 p-3 border rounded">
    <div class="title text-center">
        <h2>Modifier un logement</h2>
    </div>
    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary my-2">Mettre à jour</button>
        {{ form_end(form) }}
        <a href="{{ path('app_logements') }}" class="btn btn-secondary">Retour à la liste des logements</a>
    </div>
</div>

{% else %}
    <div class="container my-5 text-center border rounded p-5 bg-danger">
    <h5>Merci de bien vouloir vous connecté afin d'accéder a cette page</h5>
    </div>
{% endif %}
{% endblock %}
