{% extends 'base.html.twig' %}

{% block title %}Créer un locataire{% endblock %}

{% block body %}

{% if app.user %}
{# Contenu pour les utilisateurs connectés #}

{#  Message de validation  #}
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center p-2">
            {{ message }}
        </div>
    {% endfor %}
</div>

{# formulaire creation d'un  locataire #}
<div class="container border rounded p-3 my-4">
    <div class="title text-center">
        <h2>Créer un locataire</h2>
        <hr>
    </div>
    <form method="post" action="{{ path('app_locataires_create') }}">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary my-3">Créer</button>
    </form>
</div>

{% else %}
    <div class="container" style="height: 100vh">
                        <div class="row justify-content-center align-middle">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h2 class="display-1 text-danger">Accés refusé</h2>
                                    <p>Vous  n'êtes pas authorisé à accéder à cette ressource</p>
                                    <p>Merci de bien vouloir vous connecté afin d'accéder à cette page</p>
                                    <a href="{{path('app_main')}}">
                                        Retour au formulaire de connexion
                                    </a>
                                </div>
                            </div>
                        </div>
    </div>
{% endif %}

{% endblock %}



